.header {
  font-family: "Bungee Spice";
  font-size: 45px;
}

.friend {
  border: solid;
}

.friend--title {
  font-family: "Bungee Spice";
  font-style: oblique;
}

.pets {
  font-family: "PT Serif", serif;
  color: #FAED83;
  display: flex;
  justify-content: center;
  border: solid;
}