body {
    background-image: url(https://unsplash.com/photos/hzScL4ufC6k/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8OHx8bG9hZiUyMG9mJTIwYnJlYWR8ZW58MHx8fHwxNzAzNzAzNzg0fDA&force=true);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
}
.header {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-size: 45px;
    display: block;
    text-align: center;
    margin-top: 0; 
    margin-bottom: 0; 
}
#list {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-size: 25px;
    font-weight: 400;
}



