* {
    box-sizing: border-box; 
    font-size: 0px;
}
.colored-box {
    background-color: #F5C6D6;
    height: 100px;
    width: 1000px;
    border: 2px solid white;
}
.colored-box-2 {
    background-color: #EE2E84;
    height: 100px;
    width: 250px;
    border: 2px solid white;
    display: inline-block;
}
.colored-box-3 {
    background-color: #85CFD8;
    height: 100px;
    width: 500px;
    border:2px solid white;
    display: inline-block;
}
.colored-box-4 {
    background-color: #8DC63F;
    height: 100px;
    width: 750px;
    border: 2px solid white;
    display: inline-block;
}
.colored-box-5 {
    background-color: #E76E34;
    height: 100px;
    width: 250px;
    border: 2px solid white;
    display: inline-block;
}